* {
    margin: 0;
    padding: 0;
}

.ul {
    position: fixed;
    bottom: 1rem;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.li {
    list-style-type: none;
}

.active {
    color: red;
}